<!--<a class="m-auto fixed-top d-flex justify-content-center text-dark" routerLink="/entrar">Voltar pro login </a>-->
<footer class="page-footer bottom-0 ">
  <div class="container d-flex justify-content-center">
    <img class="cami" src="https://i.imgur.com/xBXnf7O.jpg" alt="Camila Melo" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
    <img class="kyanne" src="https://i.imgur.com/kPLBLNg.jpg" alt="Kyanne Priscilla" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
    <img class="grazzi" src="https://i.imgur.com/eWQqZW9.jpg" alt="Luiza Grazielly" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
    <img class="marina" src="https://i.imgur.com/qtFnU1K.jpg" alt="Marina Rosa" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
    <img class="meri" src="https://i.imgur.com/68tjhll.jpg" alt="Merielly Saeli" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
    <img class="nath" src="https://i.imgur.com/GiMi2PF.jpg" alt="Nathália Nascimento" class="dropdown-toggle img-fluid rounded-circle" routerLink='/sobre'>
  </div>
 
  <div class="footer-copyright text-center">
    <span class="text-light"> &copy; 2022 CopyRight:
      <a class="text-light" target="_blank" href="#"> Em aberto </a>
    </span>
  </div>
</footer>
