<body class="d-flex flex-column">
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-dark">Apagar Produto</h1>
                <h3 class="text-center text-dark mt-2">Você tem certeza que deseja apagar esse produto? </h3>
            </div>
    
        </div>
    
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-4">
                <div class="card card-produtos text-center">
                    <img src="{{produto.foto}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.nomeProduto}}</h5>
                        <h5 class="card-categoria">{{produto.categoria.tipo}}</h5>
                        <p class="card-text text-center">{{produto.descricao}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted m-0 p-0">R$: {{produto.valor}} | Estoque: {{produto.quantidade}} | Medida:
                            {{produto.medida}}</p>
                    </div>
    
                    <div class="card-footer">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button class="btn btn-info mr-3" routerLink="/inicio">Não</button>
                            <button class="btn btn-danger" (click)='apagar()'>Sim</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</body>