<body class="d-flex  align-items-center">
    
<div class=" container-fluid  ">

    <div class=" mb-3 d-flex justify-content-center">

        <div class="col-md-10">


            <h1 class=" mb-3 mt-3 text-center">Cadastro</h1>

            <div class="form-group ">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">

                <label for="usuario">Usuário</label>
                <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">

                <label for="foto">Link da Foto</label>
                <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua Foto">

                <label for="senha">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">

                <label for="confirmeSenha">Confirmar Senha</label>
                <input class="form-control" type="password" name="senha" id="senha" placeholder="Confirme sua senha">

                <label for="tipo">Tipo de Usuário</label>
                <select class="form-control" name="tipo" id="tipo">
                    <option>Selecione um tipo de usuário</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>

                <div class="d-flex justify-content-center mt-2">
                    <div>
                        <button type="submit" class="btn btn-light mb-3 " id="cancelar">Cancelar</button>
                    </div>
                    <div class="ml-2">
                         <button type="submit" class="btn btn-light mb-3 " id="cadastrar">Cadastrar</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</body>