<body class="d-flex  align-items-center">

  <div class=" container-fluid  ">

    <div class=" mb-3 d-flex justify-content-center">

      <div class="col-md-11">

        <h1 class=" mb-3 mt-3 text-center">Entrar</h1>

        <div class="form-group ">

          <label for="usuario">Usuário</label>
          <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">

          <label for="senha">Senha</label>
          <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">

          <div class="d-flex justify-content-center mt-4">
            <div class="ml-2">
              <button type="submit" class="btn btn-light mb-3 " id="entrar">Entrar</button>
            </div>
          </div>
          <div>
            <hr class="mb-4 mt-3">
            <p class="text-center" id="cont-tem">Não tem uma conta? <a routerLink='/cadastrar'
                id="cadastrar">Cadastre-se</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="m-auto fixed-bottom d-flex justify-content-center" routerLink="/rodape">Visualizar o rodapé </a>
  <a class="m-auto fixed-top d-flex justify-content-center" routerLink="/menu">Visualizar o menu </a>
</body>
